[Desktop Entry]
Type=Application
Name=Example Browser
Exec=example-browser --new-window %u
Icon=example-browser
StartupWMClass=ExampleBrowser
NoDisplay=false
